#subAnchorPane1 {
    -fx-background-color: #524747;
}

#subAnchorPane2 {
    -fx-background-color: #e0d0d0;
}

#mainSubAnchorPane {
    -fx-background-color: #171212;
    -fx-border-width: 3;

}

.round-corners {
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
}
.round-button-black{
    -fx-border-radius: 7px;
    -fx-background-radius: 20px;
    -fx-background-color: #524747;
    -fx-text-fill: white;

}
.round-button-black:hover{
    -fx-effect: dropshadow( three-pass-box , rgba(131, 159, 196, 0.7), 10, 0.8 , 0 , 0 );
}
.round-button-black:pressed{
    -fx-effect: dropshadow( three-pass-box , rgba(56, 127, 220, 0.7), 10, 0.8 , 0 , 0 );
}